*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    margin: 20px;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    color: gray;
}
.navbar ul li:last-child{
    font-size: 1.5rem;
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
    font-weight: 800;
    color: blue;
}
.heroSection{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.heroSection .left{
    flex-basis: 40%;
}
.heroSection h1{
    font-size: 4rem;
    color: rgb(65, 61, 61);
    padding-bottom: 1rem;
}
.heroSection p{
    font-size: 1.8rem;
    color: gray;
    padding-bottom: 3rem;
}
.heroSection button{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(48, 130, 236);
    color: white;
    font-weight: 600;
}
.heroSection button:hover{
    background-color: rgb(110, 110, 197);
}
@media (max-width:500px) {
    .heroSection{
        flex-direction: column;
        height: 100vh;
        padding: 50px;
        justify-content: start;
        gap: 20px;
        
    }
    *{
        font-size: 0.4rem;
    }
    .heroSection h1 span,.heroSection h1{
        font-size: 3rem;
    }
    .heroSection .left,.heroSection .right{
        flex-basis: auto;
    }
    .heroSection img{
        height: 300px;
    }
}